fseq_OCIM2_48L.nc filter=lfs diff=lfs merge=lfs -text
data/global_trawling/derived/output/coord.matches.RData filter=lfs diff=lfs merge=lfs -text
data/global_trawling/raw/FMI_world_EEZ_boundaries_v11/eez_v11.shp filter=lfs diff=lfs merge=lfs -text
data/global_trawling/raw/SRTM30_PLUS_v8/World_e-Atlas-UCSD_SRTM30-plus_v8.tif filter=lfs diff=lfs merge=lfs -text
data/global_trawling/derived/Sala_CO2efflux_nonZeroValueDepths/Sala_CO2efflux_nonZeroValueDepths.dbf filter=lfs diff=lfs merge=lfs -text
data/global_trawling/derived/Sala_CO2efflux_nonZeroValueDepths/Sala_CO2efflux_nonZeroValueDepths.shp filter=lfs diff=lfs merge=lfs -text